# Pin dependancies that might cause breakage
Werkzeug

# Build dependencies
Flask
Flask-SQLAlchemy
psycopg2-binary
python-dotenv

# Runtime dependencies
gunicorn
honcho

# Code quality
pylint
flake8
black

# Testing dependencies
nose
pinocchio
factory-boy

# Code Coverage
# coverage  # Requires-Python >=2.7, !=3.0.*, !=3.1.*, !=3.2.*, !=3.3.*, <3.7
# codecov  # Requires-Python >=2.7, !=3.0.*, !=3.1.*, !=3.2.*, !=3.3.*, <3.7
nose

# Utilities
httpie

# Security
Flask-Talisman
Flask-Cors